@charset "UTF-8";
/* CSS Document */

body{
	margin: 0;
	padding: 0;
	font-family:"Arial Black", Gadget, sans-serif;
	text-align: center;
	color: #FF0;
}

.fullBg {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

#background {
    display: none;
}

#maincontent {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    overflow: hidden;
}

/* Layout */
header{
	display:block;
	height: 80px;
	width:100%;
	margin-top:20px;
    background-color:#630;
	border-radius:30px;
    text-align: right;
}

section{
	display: block;
	width:100%;
	height: auto;
	background-color:#630;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

article{
	margin:20px;
	clear:both;
}

footer{
	display:block;
	width:100%;
	height: 50px;
    background-color:#630;
    clear: both;
	min-height:30px;
	text-align:center;
	color:white;
    margin-top: 10px;
    padding-top: 20px;
}

/* Navigation */
nav{
	width:1000px;
    height: 50px;
    text-align: center;
    clear: both;
    z-index: 999;
    left:0;
    border-radius: 20px;
    background-color: #630;
    margin-bottom: -5px;
}

nav ul li {
    display: inline-block;
    text-align: center;
}

nav ul li a {
    color:white;
    text-decoration: none;
    font-size: large;
    position: relative;
    top: 15px;
}

/* Text */
p{
    color: white;
}

h1{
    color: yellow;
    font-size: xx-large;
}

h2{
    color: yellow;
    font-size: large;
}

header h1, header h2{
    margin-right: 200px;
}

h1 a{
    text-decoration: none;
    color: yellow;
}

/* Homepage */
#certified {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

#clickFor {
    text-align: center;
    clear: both;
}

.container #slideshow {
    text-align: center;
}
